/* ===========================
RESET GENERAL
=========================== */

*{ /* el '*' representa a todos los elementos */
    margin:0; /*Elimina todos los márgenes */
    padding:0; /*Elimina todos los espacios*/
    box-sizing:border-box; /*Incluye el padding y border en el ancho y alto del elemento */
}

body{
    background:var(--color-fondo);
    color:var(--color-texto);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background:var(--color-blanco);
    display: flex; /*sirve para organizar los elementos, en este caso para que queden uno al lado del otro*/
    justify-content: space-between;
    align-items: center; /*las centra verticalmente*/
    padding: 20px 8%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .08);  /*agrega una sombra elegante*/
}

.logo h1{
    color: var(--color-secundario);
    font-size: 2rem;
}

nav ul{
    display: flex;
    list-style: none; /*quita los puntos*/
    gap: 30px; /*espacio entre elementos*/
}

nav a{
    text-decoration: none;
    color: var(--color-texto);
    font-weight: bold;
    transition: .3s;
}

nav a:hover{
    color: var(--color-secundario);
}

/* ============================
CONTENEDOR GENERAL
============================ */

.container{
    width: 90%; /*Signofoca que ocupara el 90% del espacio total de la pantalla*/
    max-width: 1200px; /*Aunque la pantalla sea grande se mantendra el limite de 1200px*/
    margin: 0 auto; /*centra el contenido*/
}

/* ============================
BANNER
============================ */
#banner{
    text-align: center;
    padding: 80px 20;
}

#banner h2{
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: var(--color-primario);
}

#banner p{
    font-size: 1.1rem;
    color: var(--color-texto);
    margin-bottom: 30px;
}

/* ============================
BOTÓN PRINCIPAL
============================ */
.btn-principal{
    display: inline-block;
    background: var(--color-boton);
    color: var(--color-boton-hover);
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
    transition: .3s;
    font-weight: bold;
}

.btn-principal:hover{
    transform: translateY(-3px);
    opacity: .9;
}

.btn-detalles{
    display: block;
    width: 90%;
    margin: 20px auto;
    padding: 12px;

    background: var(--color-secundario);
    color: white;
    text-decoration: none;
    text-align: center;

    border-radius: 8px;
    font-weight: bold;

    transition: .3s;
}

.btn-detalles:hover{
    background: var(--color-primario);
}

/* ============================
CATÁLOGO
============================ */

#productos{
    padding: 60px 0;
}

#productos h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
}

#contenedor-productos{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/*TARJETAS*/

.tarjeta-producto{

    width:360px;

    background:white;

    border-radius:15px;

    overflow:hidden;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

    transition:.3s;

}

.tarjeta-producto:hover{

    transform:translateY(-8px);

    box-shadow: 0 18px 35px rgba(0,0,0,.18);

}

.tarjeta-producto img{

    width:92%;

    margin:15px auto 0;

    display:block;

    border-radius:12px;

    transition:.4s;

}


.tarjeta-producto h3{

    padding:15px;

}

.tarjeta-producto p{

    padding:0 15px 15px;

    color:#B8577C;

    font-weight:bold;

}

.tarjeta-producto button{

    width:90%;

    margin:15px;

    padding:12px;

    border:none;

    border-radius:8px;

    background:var(--color-secundario);

    color:white;

    cursor:pointer;

}

.footer{
    background:var(--color-blanco);

    text-align:center;

    padding:20px 0;

    margin-top:40px;

    box-shadow:0px -3px 10px rgba(0,0,0,.08);
}