:root{ /*Variable global*/
    --color-primario:#D48CA6;

    --color-secundario:#E9D5C5;

    --color-fondo:#FFF8F6;

    --color-blanco:#FFFFFF;

    --color-texto:#3E3E3E;

    --color-gris:#E5E7EB;

    --color-boton:#B8577C ;

    --color-boton-hover:  # DFA9BE;

}